# Google Cloud Service Account (entire JSON as string)
GOOGLE_CLOUD_JSON_KEY='{"type":"service_account","project_id":"gamma-analytics-499702",...}'

# GA4 Property IDs
GA4_AXXIS_ID=352202754
GA4_DINERS_ID=352131785

# GSC URLs
GSC_AXXIS_URL=https://revistaaxxis.com.co/
GSC_DINERS_URL=https://revistadiners.com.co/

# Meta
META_ACCESS_TOKEN=your_token_here
META_AXXIS_PAGE_ID=your_axxis_page_id
META_DINERS_PAGE_ID=your_diners_page_id
